#bg-color {
  background-color: #EEEEEE ;
}

.Img{
width : 400px;
height : 400px;
}
.Img1{
  width : 300px;
height : 300px;
}
.Img2{
  width : 300px;
  height : 300px;
}
.Img3{
  width : 300px;
  height : 300px;
}